@* Dùng Models cho book, ko dùng IEnumerable trong create*@
@model Day6_login.Models.Book
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    @* dùng bootstrap *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    @* dùng cách này nếu ko chạy dòng lệnh scaffold và nuget.org *@
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()//tạo form ẩn để validate khi submit
    <div class="form-horizontal">
        <h4>Book</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @* ID *@
        <div class="form-group">
            @Html.LabelFor(model => model.BookId)
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookId)
                @Html.ValidationMessageFor(model => model.BookId, "", new { @class = "text-danger" }) @**Validate*@
            </div>
        </div>
        @* Title *@
        <div class="form-group">
            @Html.LabelFor(model => model.Title)
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" }) @**Validate*@
            </div>
        </div>
        @* Price *@
        <div class="form-group">
            @Html.LabelFor(model => model.Price)
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" }) @**Validate*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        @* nút quay lại index *@
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
    }

        @* Bootstrap *@
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
